	BODY{

		background-image:url(C:/Users/kamil/Desktop/HTML/HTML5-CSS3-E-BOOTSTRAP4/ASSETS/backgroundDafonte01.jpeg);
		background-repeat:repeat;
		color: black;
		text-align:center ;
		width: 100%;
		height: 100%;		
	}

	.box{
            width: 330px;
            height: 200px;
            border: 2px solid black;
            background-color: #1C77EB;
            position: absolute;
            TOP: 180PX;
            LEFT: 510PX;
            border-radius: 20%;
            z-index: -1;


        }

	H3{
		background-color: darkblue;
		border: 2px solid black;
		border-radius: 10%;
		margin: 10px,10px;
		width: 100%;
		height: 10%;
		padding-top: 15px;
		font-size: 22px;
		font: italic;
		COLOR: BLACK;
		position: absolute;
		TOP: -15PX;
		left: 10PX;

	} 	

	LABEL{

			COLOR: BLACK;
			
		}

#e-mailLogin{

position: relative;
top: 80px;
}

#senhaLogin{

position: relative;
top: 100px;
left: 2PX;
}

BUTTON{
	background-color: lightblue;
	position: relative;
	top: 110PX;
}
	




	