	BODY{

		background-image:url(C:/Users/kamil/Desktop/HTML/HTML5-CSS3-E-BOOTSTRAP4/ASSETS/backgroundDafonte01.jpeg);
		background-repeat:repeat;
		color: black;
		text-align:center ;
		width: 100%;
		height: 100%;		
	}

	.box{
            width: 330px;
            height: 200px;
            border: 5px solid black;
            background-color: #1C77EB;
            position: absolute;
            TOP: 180PX;
            LEFT: 510PX;
            z-index: -1;
        }

	H3{

		COLOR: BLACK;
		position: absolute;
		TOP: -15PX;
		left: 510PX;

	} 	

	LABEL{

			COLOR: BLACK;
			
		}

#e-mailLogin{

position: relative;
top: 80px;
}

#senhaLogin{

position: relative;
top: 100px;
left: 2PX;
}

BUTTON{

	position: relative;
	top: 110PX;
}
	




	