	BODY{

		background-image: url(C:/Users/DAFONTE/Desktop/ASSETS/BACKGROUNDLOGIN.jpeg);
	}

	H3{

		COLOR: BLACK;
		background-color: #FF0000;
	} 	

	LABEL{
			COLOR: BLACK;
		}

		FORMS{
			COLOR: WHITE;
		}